:root{
  --theme-color:#fdf8f8;
  --secondary-color:#e81c11;
}
.main-container{
  width: 100vw;
  background:var(--theme-color);
  height: 100vh;
  overflow-x: hidden;
  
}
.topnav {
  border: 1px solid #eee4e4;
  height: 70px;
  background: white;
  box-shadow: 0px 6px 8px #e2d6d6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchicon{
  color: var(--secondary-color);
}
.right-side{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}
.navbar-menu{
  font-size: 17px;
  font-weight: 400;
  color: #595959;
}

.homeslider1 {
background: url('./Assets/images/banner/banner1.jpg');
background-repeat: no-repeat;
}
.home-slider-container {
  width: 100vw;
  height: 700px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 135px;
}
.banner-heading {
  font-size: 56px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.site-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.heading-icon {
  color: #d4d4d4;
  font-size: 34px;
  opacity: 0.4;
}
.heading-dash {
  color: #d4d4d4;
  font-size: 20px;
  border: 1px solid #f1f1f1;
  width: 39px;
  margin-left: 10px;
  margin-right: 10px;
}
.headin-hd{
  font-size: 25px;
  color: #595959;
  font-weight: '600';
}
.product-list {
  display: grid;
  gap: 20px; 
  justify-items: center;
  margin-bottom: 40px;
  grid-template-columns: repeat(4, 1fr); 
}
.product-list-cd {
  display: flex;
  flex-wrap: wrap;  /* Allow wrapping of items to the next row */
  gap: 20px;  /* Space between items */
  justify-content: center;  /* Center the items when there are fewer */
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  overflow: hidden;
}

.product-item {
  flex: 1 1 263px;  /* Allow each item to grow and shrink, but maintain a minimum width of 263px */
  max-width: 263px;  /* Prevent items from growing larger than 263px */
  box-sizing: border-box;
}


.category-con{
  width: 263px !important;
}
.pd-top-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img-c{
  height: 140px;
}
.product-item{
  width: 340px;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  margin-left: 15px;
  justify-items: stretch;
}
.pd-bottom-container {
  padding: 10px;
  display: flex;
    flex-direction: column;
}
.category-slider1{
  background: url('./Assets/images/banner/banner3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.category-slider2{
  background: url('./Assets/images/banner/banner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-con{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 90vw;
}
.banner-txt-container {
  width: 59%;
}
.banner-heading-2{
  font-size: 56px;
  color: white;
  font-weight: 500;
  text-align: left;
}
.category-slider-con {
  display: flex;
  width: 100%;
  height: 457px;
  border: 1px solid #eee9e9;
  border-radius: 10px;
  box-shadow: 0px 3px 3px #e5dfdf;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8%;
}
.banner-para {
  font-size: 17px;
  color: white;
  font-weight: 500;
}
.swiper-button-prev, .swiper-button-next {
  color:var(--secondary-color) !important;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
  color: #ccc !important;
}
p.productname {
  font-size: 16px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 10px;
}
p.product-description {
  font-size: 13px;
  font-weight: 500;
  color: #cfcfcf;
}
.txt-ellipse{
    display: -webkit-box;            
    -webkit-box-orient: vertical;     
    -webkit-line-clamp: 2;           
    overflow: hidden;                 
    text-overflow: ellipsis;          
    white-space: normal;
}
.view-details-btn {
  border: 1px solid #ece3e3;
  border-radius: 10px;
  padding: 7px;
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  background: var(--secondary-color);
  color: white;
  font-size: 14px;
  text-align: center;
}

.product-con1 {
  width: 90vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  gap: 80px;
}
/* For tablets (iPads) and smaller screens */
@media (max-width: 768px) {
  .product-con1 {
    flex-direction: column; 
    align-items: center; 
  }
  .product-left-con,.product-right-con {
    width: 100% !important;
  }
  .sheen-family-grid {
    width: 100% !important;
  }
  .single-color-fm{
    height: 90px !important;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .product-con1 {
    flex-direction: column; 
    gap: 15px; 
  }
  .product-left-con,.product-right-con {
    width: 100% !important;
  }
  .sheen-family-grid {
    width: 100% !important;
  }
  .single-color-fm{
    height: 90px !important;
  }
}
.product-left-con {
  width: 54%;
  height: 350px;
  border: 1px solid #dad2d2;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 3px 5px #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img{
  height: 320px;
}
.product-right-con {
  margin-bottom: 40px;
  width: 74%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pd-name{
  font-size: 30px !important;
  margin-bottom: 10px;
}
.main-heading {
  font-size: 20px;
  font-weight: 600;
}
.single-two-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.sub-heading{
  font-size: 16px;
  font-weight: 500;
  color: #595959;
  width: 20%;
}
.sub-value {
  font-size: 18px;
  font-weight: 400;
  color: #625e5e;
}
.color-family-grid{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr); 
  margin-bottom: 10px;
}
.single-color-fm{
  height: 120px;
}
.sheen-family-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  width: 40%;
}

.sheen-con {
  border: 2px solid #afa9a9;
  border-radius: 8px;
  padding: 6px 20px;
  background: white;
  font-size: 14px;
  font-weight: 600;
  color: #595959;
}

.highlightsheen {
  border-color: var(--secondary-color);
  box-shadow: 0px 4px 4px #cfcaca;
}
.color-family-pd-con{
  display: grid;
  
}
.color-family-main-pd-con {
  border: 1px solid #ece5e5;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  margin-bottom: 30px;
  background: white;
  padding: 10px;
}
.pd-cl-img {
  height: 33px;
  border: 2px solid #edebeb;
  width: 37px;
  border-radius: 6px;
}
span.line {
  height: 20px;
  width: 0.9px;
  background: #dedede;
}
.color-family-heading {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 13px;
  border-bottom: 1px solid #eeeeee;
}
.color-family-sub-pd-con {
  padding: 10px;
}
.cfsb-con {
  height: 130px;
  border: 2px solid #efe7e7;
  width: 113px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
/* light color */
.cfsb-prod-name {
  width: 100%;
  border-top: 2px solid #efe7e7;
  background: #f0f0f080;
  padding-bottom: 6px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #313131;
}
.pd-tab-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}